.zz{
    width: 100vw;
    height: 100vh;
    position: fixed; /* Фиксированное положение */
    background-image: url("../../../public/rabie-madaci-ElM0m5T6_dw-unsplash.jpg")  ;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    overflow: auto;
    overflow-y: scroll;    
}

.z{ 
    backdrop-filter: blur(3px);
    box-sizing: padding-box;
    -moz-box-sizing: padding-box;
    -webkit-box-sizing: padding-box;
    padding-bottom: 60px;
    min-height: 95vh;

}
.btnsc{
    margin: 0px;
    top: 8px;
    right: 650px;
    position: absolute;
    height: 40px;
    width: 40px;
}